{% extends 'base.html' %}
{% load static %}

{% block title %}R2봇 제어센터 - 자율 주행 모드{% endblock %}

{% block header %}
<a href="{% url 'home' %}" class="back-button">←</a>
자율 주행 모드
{% endblock %}

{% block content %}
<div class="navigation-controls">
    <select id="start-point">
        <option value="">시작 지점 선택</option>
        <option value="창의디자인실" data-coords="147,73">창의디자인실</option>
        <option value="과학실">과학실</option>
        <option value="보건실">보건실</option>
        <option value="회의실">회의실</option>
        <option value="교장실" data-coords="1272,323">교장실</option>
        <option value="행정실">행정실</option>
        <option value="1-1반">1-1반</option>
        <option value="1-2반">1-2반</option>
        <option value="1-3반">1-3반</option>
        <option value="1-4반">1-4반</option>
    </select>

    <select id="end-point">
        <option value="">도착 지점 선택</option>
        <option value="창의디자인실" data-coords="147,73">창의디자인실</option>
        <option value="과학실">과학실</option>
        <option value="보건실">보건실</option>
        <option value="회의실">회의실</option>
        <option value="교장실" data-coords="1272,323">교장실</option>
        <option value="행정실">행정실</option>
        <option value="1-1반">1-1반</option>
        <option value="1-2반">1-2반</option>
        <option value="1-3반">1-3반</option>
        <option value="1-4반">1-4반</option>
    </select>
</div>

<!-- Map and Canvas for drawing the lines -->
<div class="map-container">
    <img id="school-map" src="{% static '../static/images/map.png' %}" alt="Map" class="map-display">

    <canvas id="map-canvas"></canvas>
</div>

<button id="start-navigation" class="navigation-button" disabled>주행 시작</button>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
